@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@layer utilities {
  .border-bottom-left-clip {
    clip-path: polygon(30% 0%,
        70% 0%,
        100% 0,
        100% 70%,
        100% 100%,
        10% 100%,
        0 90%,
        0 0);
  }

  .border-bottom-right-clip {
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 96%, 91% 100%, 0 100%, 0 100%, 0 0);
  }
}

@layer components {
  .hidden_input {
    position: absolute;
    top: -100em;
  }

  .tetromino__i {
    background-color: rgba(80, 227, 230, 1);
  }

  .tetromino__j {
    background-color: rgba(36, 95, 223, 1);
  }

  .tetromino__l {
    background-color: rgba(223, 173, 36, 1);
  }

  .tetromino__o {
    background-color: rgba(223, 217, 36, 1);
  }

  .tetromino__s {
    background-color: rgba(48, 211, 56, 1);
  }

  .tetromino__t {
    background-color: rgba(132, 61, 198, 1);
  }

  .tetromino__z {
    background-color: rgba(240, 80, 195, 1);
  }
}